<% provide :title, t("contact") %>
<h1><%=t("contact") %></h1>
<p>
  <%=t("static_pages.contact.content") %>
  <%= link_to t("static_pages.contact.content1"), "http://www.railstutorial.org/help" %>
  <%=t("content") %>
  <em><%= link_to t("Ruby on RailsTutorial") %></em>
  <%= link_to t("book"), "http://www.railstutorial.org/book" %>
</p>
