<% provide :title, t("help") %>
<h1><%=t("help") %></h1>
<p>
  <%=t("static_pages.help.content1") %>
  <%= link_to t("static_pages.help.content"), "http://www.railstutorial.org/help" %>
  <em><%= link_to t("title") %></em>
  <%= link_to t("static_pages.help.book"), "http://www.railstutorial.org/book" %>
</p>
