<% provide :title, t("home") %>
<div class="center jumbotron">
  <h1><%= t("title") %></h1>
  <h2>
    <%= t("static_pages.home.content") %>
    <%= link_to t("title"), "http://www.railstutorial.org/" %>
    <%= t("static_pages.home.logo_home") %>
  </h2>
  <%= link_to t("static_pages.home.button"), '#', class: "btn btn-lg btn-primary" %>
</div>
