<h1><%= I18n.t("reset.password_reset") %></h1>
<p><%= t("reset.To_reset_your") %></p>
<%= link_to t("reset.title"), edit_password_reset_url(id: @user.reset_token, email: @user.email) %>
<p><%= t("reset.his_link_will") %></p>
<p>
  <%= t("reset.content") %>
</p>
